body {
    position: relative;
    height: 1200px;
    background-image: url('../images/connectwork.png');
    background-repeat: repeat;
}

h1, h2 {
    /*add google font later*/
}

h1 {
    text-align: center;
    font-size: 36px;
    color:#fff;
}

h2 {
    font-size: 24px;
    margin: 24px 36px;
    color: #ddd;
    grid-column: 1 / 4;
    grid-row: 1;
}

h3 {
    font-size: 48px;
    margin: 36px 36px 0 36px;
    text-align: center;
    color: #60559d;
}

h4 {
    font-size: 48px;
    margin: 36px;
    text-align: center;
    color: #60559d;
}

p {
    text-align: center;
    font-size: 60px;
    color: #60559d;
}

.buttonAesthetics {
    height: 48px;
    width: 96px; 
    border-radius: 50px;
    background-color: #9d6055;
    border-color: #9d6055;
    color: #fff;
    margin-bottom: 24px;
}

.gymImage {
    border: 2px #000 solid;
}

hr {
    width: 85%;
}

main {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(3, ifr);
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
}

#centralContent {
    background-color: #ddd;
    border: solid 2px #ccc;
    grid-column: 2 / 3;
    grid-row: 2;
}

#leftContent, #rightContent {
    background-color: #ddd;
    border: solid 2px #ccc;
    height: 480px;
    width: 480px;
    justify-self: center;
}

#leftContent {
    grid-column: 1 / 2;
    grid-row: 2;
    position: relative;
}

#pole {
    position: absolute;
    top: 76px;
    left: 35%;
    height: 400px;
    width: 4px;
    background-color: #000;
}

#crossBeam {
    position: absolute;
    left: 35%;
    top: 76px;
    height: 4px;
    width: 30%;
    background-color: #000;
}

#hangingBeam {
    position: absolute;
    left: 65%;
    top: 76px;
    height: 100px;
    width: 4px;
    background-color: #000;
}

#head {
    position: absolute;
    left: 60%;
    top: 176px;
    padding: 24px;
    border: 2px solid #000;
    border-radius: 50%;
}

#body {
    position: absolute;
    left: 65%;
    top: 226px;
    height: 100px;
    width: 2px;
    background-color: #000;
}

#rightArm {
    position: absolute;
    left: 65%;
    top: 250px;
    height: 2px;
    width: 50px;
    background-color: #000;
    -webkit-transform: 
        translateY(-10px)
        translateX(-3px)
        rotate(-25deg);
}

#leftArm {
    position: absolute;
    left: 55%;
    top: 250px;
    height: 2px;
    width: 10%;
    background-color: #000;
    -webkit-transform: 
        translateY(-10px)
        translateX(3px)
        rotate(25deg);
}

#rightLeg {
    position: absolute;
    left: 55%;
    top: 350px;
    height: 2px;
    width: 10%;
    background-color: #000;
    -webkit-transform: 
        translateY(-6px)
        translateX(35px)
        rotate(-115deg);
}

#leftLeg {
    position: absolute;
    left: 55%;
    top: 350px;
    height: 2px;
    width: 10%;
    background-color: #000;
    -webkit-transform: 
        translateY(-6px)
        translateX(15px)
        rotate(115deg);
}



#rightContent {
    grid-column: 3 / 4;
    grid-row: 2;
}

header {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100px;
    background-color: #FF232A;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    border-bottom: solid 2px #0F76B2;
    box-sizing: border-box;
    z-index: 2;
}

footer {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #FF232A;
    border-top: solid 8px #0F76B2;
    bottom: 0;
}